* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Bitter', serif;
    color: black;
    margin:20px;
    /* max-width: 1024px; */
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    text-align: center;
    display: block;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 20px;  
    border-bottom: solid;
}

#contact {
    text-align: center;
    padding: 40px;
    margin: 30px;
    line-height: 3;
    background-color: lightgrey;
    border: solid;
}
img {
    width: 100%;
}

h1, h2, h3, .top-nav, .footer-nav {
    text-align: center;
  }

h1{
      font-size: 24px;
  }
  
.top-nav, .top-nav li {
    width: 100%;
  }
  
.top-nav a, .footer-nav a {
    color: #000;
  }

a:hover {
    color: red;
}

.top-nav, .footer-nav {
    margin-top: 30px;
  }
  
.top-nav li, .footer-nav li {
    padding: 10px 0;
    margin: 5px auto;
  }
  
html, body {
    height: 100%;
}
.container2 {
    /* max-width: 1100px; */
    padding: 10px;
    margin: 0 auto;
    border-top: solid;
}

.col {
    margin: 10px;
    min-height: 250px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 10px;
}

.col h3 {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    word-spacing: .5em;
    height: 100px;
    border-top: dashed;
  }


@media (min-width: 320px) {
    .full {
        display: none;
      }
    .container1 {
        margin-top: 10px;
    }

}

@media (min-width: 768px) {
    .top-nav {
          margin-top: 0;
        }
      
    .top-nav li, .footer-nav li .full{
          display: inline-block;
          width: auto;
          margin-right: 15px;
          background-color: transparent;
        }
      
    .top-nav li:last-child {
          margin-right: 0;
        }
      
    .container2 {
        display: flex;
        flex-wrap: wrap;
        }
    
    .container1 {
        display: flex;
        margin: 25px;
    }

    .container1 p {
        padding: 20px;
    }

    .col {
        flex-basis: calc(50% - 20px);
    }
    .top {
        display: none;
    }
    .full {
        display: inline-block;
        margin-left: 20px;
    }
}


@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    .top-nav, .top-nav li {
        width: initial;
        margin-bottom: 0;
    }
    .col {
        flex-basis: calc(33.33333% - 20px);
    }
}




